* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    ;
}

header {
    background-color: #A27172;
    padding: 1px 5px;
    align-items: center;
    display: flex;


}

.logo {

    display: inline-block;
    width: "1px";
    height: "1px";
    font-size: 24px;
    margin-left: 20px;


}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    

}

nav li {
    margin-left: 80px;
}

nav a {
    text-decoration: none;
    color: white;
    background: #9b6a6c;
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 10px;
}


.about {
    margin: 30px;
    border: 1px solid #A27172;
    border-radius: 10px;
}

.about h1 {
    color: #A27172;
    font-size: 40px;
    margin: 20px;
}

.about p {
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: "453px";
    height: "100px";
}

.form {
    text-align: center;
    margin: 10px;
}

.form input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.form button {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 220px;

}

footer {
    display: flex;
    justify-content: space-around;
    background: #6b6b60;
    padding: 50px;
    color: white;
}

.footer-box {
    background: #9b6a6c;
    padding: 30px;
    border-radius: 5px;
    width: 250px;
}

.footer-box h3 {
    margin-top: 0;
}















footer {
    background-color: #7D8077;
}

.footer-box {
    border: 1px solid white;
}